studio/node_modules/
studio/build/
documentation/node_modules/
documentation/build/
orchestrator/node_modules/
engine_utils/node_modules/
node_modules/
build/
*.sqlite
*.log
*.env*
.git*
*docker*
Dockerfile
.prettier*
package-lock.json
*.sh
